<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.example.cordovahybridvue" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>hybrid-cordova-vue</name>
  <description>Aplicación Base Cordoba + Vue 3.</description>
  <author email="dev@cordova.apache.org" href="https://cordova.apache.org">Apache Cordova Team</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <plugin name="@appcominteractive/cordova-plugin-hot-reload">
    <variable name="publicPath" value="www"/>
  </plugin>
</widget>